body {
    width: 375px;
    height: 812px;
    top: -3118px;
    left: -4070px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    font-family: lato;
    align-items: center;
    justify-content: center;
}

.emptyScreen , .newTask, .category{
    width: 375px;
    height: 812px;
    top: -3118px;
    left: -4070px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    background: #121212;
    flex-direction: column;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.statusBar {
    width: 375px;
    height: 44px;
    top: 12px;
    left: 21px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusBar .leftSide {
    width: 54px;
    height: 21px;
    top: 12px;
    left: 21px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
}

.statusBar .clock {
    width: 54px;
    height: 21px;
    top: 12px;
    left: 21px;
    padding: 1px 0px 0px 0px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
    font-family: lato;
}

.statusBar .clock p {
    width: 54px;
    height: 20px;
    top: 1px;
    gap: 0px;
    opacity: 0px;
    font-family: SF Pro Display;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.statusBar .rigthSide {
    width: 66.66px;
    height: 11.34px;
    top: 17.33px;
    left: 293.67px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: center;

}

.statusBar .rigthSide .signal {
    background-image: url("../Components/Mobile\ Signal.png");
    width: 17px;
    height: 10.67px;
    top: 17.67px;
    left: 293.67px;
    gap: 0px;
    opacity: 0px;
    margin-right: 4px;
}

.statusBar .rigthSide .wifi {
    background-image: url("../Components/Wifi.png");
    width: 15.27px;
    height: 10.97px;
    top: 17.33px;
    left: 315.69px;
    gap: 0px;
    opacity: 0px;
    margin-right: 4px;
}

.statusBar .rigthSide .battery {
    background-image: url("../Components/Battery.png");
    width: 24.33px;
    height: 11.33px;
    top: 17.33px;
    left: 336px;
    gap: 0px;
    opacity: 0px;
}

.statusBar .notch {
    width: 219px;
    height: 30px;
    top: -2px;
    left: 78px;
    gap: 0px;
    opacity: 0px;
}

.statusBar .notch .iphoneX {
    background-image: url("../Components/Notch.png");
    width: 219px;
    height: 28px;
    top: -2px;
    left: 78px;
    gap: 0px;
    opacity: 0px;
}

.indexWrapper {
    display: flex;
    justify-content: center;
}

.index {
    width: 327px;
    height: 42px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index .sort {
    width: 42px;
    height: 42px;
    top: 57px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index .sortIcon {
    width: 24px;
    height: 24px;
    top: 66px;
    left: 33px;
    gap: 0px;
    opacity: 0px;
    background-image: url("../Components/sort.png");
}

.index .indexT {
    width: 47px;
    height: 20px;
    top: 68px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFFDE;
}

.index .profile {
    background-image: url("../Components/Group\ 159.png");
    width: 42px;
    height: 42px;
    top: 57px;
    left: 309px;
    gap: 0px;
    opacity: 0px;
}

.emptyImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-right: 35px;
}

.emptyImg .img {
    background-image: url("../Components/Checklist-rafiki\ 1.png");
    width: 227px;
    height: 227px;
    top: 174px;
    left: 74px;
}

.texts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texts h2 {
    width: 270px;
    height: 30px;
    top: 411px;
    left: 53px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: left;
    color: #FFFFFFDE;
    margin: 0;
}

.texts p {
    width: 159px;
    height: 24px;
    top: 451px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #FFFFFFDE;
    margin: 0;
}

.menuNav {
    width: 375px;
    height: 124px;
    top: 688px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    bottom: 0;
    display: flex;
}

.menuNav .rectangle {
    width: 375px;
    height: 110px;
    top: 24px;
    gap: 0px;
    opacity: 0px;
    background: #363636;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.menuNav .indexWrap {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menuNav .left {
    display: flex;
    justify-content: center;
}

.menuNav .indexWrap .indexBtn {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.menuNav .indexBtn img {
    width: 24px;
    height: 24px;
    top: 36px;
    left: 31px;
    gap: 0px;
    opacity: 0px;
}

.menuNav .indexBtn p {
    width: 30px;
    height: 18px;
    top: 68px;
    left: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFDE;
}

.menuNav .calendarBtn {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 88px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.menuNav .calendarBtn img{
    width: 24px;
    height: 24px;
    top: 36px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
}

.calendarBtn p {
    width: 48px;
    height: 18px;
    top: 68px;
    left: 88px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFFA;
}

.menuNav .center {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -8px;
    left: 156px;
    position: absolute;
}


.center .newTaskBtn {
    box-shadow: none;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    top: -8px;
    left: 156px;
    gap: 0px;
    opacity: 0px;
    background: #8687E7;
    padding: 5px;
}

.menuNav .rigth {
    display: flex;
    justify-content: end;
}

.rigth .focuseBtn {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 240px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.focuseBtn img {
    width: 24px;
    height: 24px;
    top: 36px;
    left: 253px;
    gap: 0px;
    opacity: 0px;
}

.focuseBtn p {
    width: 37px;
    height: 18px;
    top: 68px;
    left: 246px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFFA;
}

.rigth .profileBtn {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 308px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.profileBtn img {
    width: 24px;
    height: 24px;
    top: 36px;
    left: 320px;
    gap: 0px;
    opacity: 0px;
    display: flex;
}

.profileBtn p {
    width: 36px;
    height: 18px;
    top: 68px;
    left: 314px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFFA;
}

.menuNav .bottom .newTaskBtn{
    width: 134px;
    height: 5px;
    top: 799px;
    left: 121px;
    gap: 0px;
    border-radius: 36px 0px 0px 0px;
    opacity: 0px;
}

.newTask .content .bg {
    width: 375px;
    height: 228px;
    top: 262px;
    background-image: url("../Components/Rectangle\ 96.png");
    display: block;
}

.content .bg h2 {
    width: 81px;
    height: 30px;
    top: 17px;
    left: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 30.1px;
    text-align: left;
    color: #FFFFFFDE;
    display: flex;
    position: relative;
}

.content form {
    margin-top: 20px;
}

.content input {
    width: 325px;
    height: 43px;
    top: 331px;
    left: 24px;
    padding: 8px 16px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: border 0.3s ease, background-color 0.3s ease;
}

.content input:focus {
    border: 1px solid #979797;
    background-color: transparent;
}

.content input::placeholder {
    color: #979797;
}

.content input:focus::placeholder {
    color: transparent;
}

.content input:focus::-webkit-input-placeholder { 
    opacity: 0;
}

.content input:focus::-moz-placeholder {
    opacity: 0;
}

.content input:focus:-ms-input-placeholder { 
    opacity: 0;
}

.content input:focus::-ms-input-placeholder { 
    opacity: 0;
}

.content input:focus::placeholder { 
    opacity: 0;
}

.content input:focus-visible {
    outline: none;
}

.content input {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.09px;
    text-align: left;
    width: 156px;
    height: 27px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFFDE;
}
.content .configuration {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-top: 50px;
    margin-left: 5px;
}

.content .configuration .timer{
    background-image: url("../Components/timer.png");
    width: 24px;
    height: 24px;
    top: 449px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
}

.content .configuration .tag{
    background-image: url("../Components/tag.png");
    width: 24px;
    height: 24px;
    top: 449px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
}

.content .configuration .flag{
    background-image: url("../Components/flag.png");
    width: 24px;
    height: 24px;
    top: 449px;
    left: 136px;
    gap: 0px;
    opacity: 0px;
}

.content .configuration .timer,
.content .configuration .tag,
.content .configuration .flag, 
.content .configuration .send {
    width: 24px;
    height: 24px;
    background-size: cover;
    border: none;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;
}

.content .configuration .send {
    background-image: url("../Components/send.png");
    width: 24px;
    height: 24px;
    left: 240px;
    gap: 0px;
    opacity: 0px;
    position: relative;
}

.priority {
    width: 375px;
    height: 812px;
    top: -3118px;
    left: -4070px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    font-family: lato;
    background-color: #121212;
}

.priority .bg {
    width: 327px;
    height: 360px;
    top: 228px;
    left: 24px;
    gap: 0px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #363636;
    position: absolute;
}

.priority .bg .divider {
    width: 312px;
    height: 0px;
    top: 268px;
    left: 32px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #979797
}

.priority .bg .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.priority .bg .title h2{
    width: 85px;
    height: 20px;
    top: 238px;
    left: 145px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFFDE;
}

.priority .divider {
    background-image: url("../Components/Divider.png");
}

.priority .priorityNumber {
    display: flex;
    position: fixed;
}

.priority .priorityNumber .prtBtn {
    width: 64px;
    height: 64px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #272727;
    box-shadow: none;
    border: none;
    position: fixed;
    cursor: pointer;
}

.priority .priorityNumber .selected {
    background: #8687E7;
}

.priority .priorityNumber .prtBtn img {
    padding-top: 5px;
}

.priority .priorityNumber .prtBtn p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
    color: #FFFFFFDE;
    padding-left: 5px;
}

.priority .priorityNumber .prtBtn10 {
    padding-left: -5px;
}

.indexWrapperBrl {
    background: #000000BD;
}

.nt {
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.prtBtn1 {
    top: 290px;
    left: 35px;
}

.prtBtn2 {
    top: 290px;
    left: 115px;
}

.prtBtn3 {
    top: 290px;
    left: 195px;
}

.prtBtn4 {
    top: 290px;
    left: 275px;
}

.prtBtn5 {
    top: 370px;
    left: 35px;
}

.prtBtn6 {
    top: 370px;
    left: 115px;
}

.prtBtn7 {
    top: 370px;
    left: 195px;
}

.prtBtn8 {
    top: 370px;
    left: 275px;
}

.prtBtn9 {
    top: 450px;
    left: 35px;
}

.prtBtn10 {
    top: 450px;
    left: 115px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

.bottom img {
    width: 134px;
    height: 5px;
    top: 15px;
    left: -70px;
    opacity: 0px;
    position: relative;
}

.priority .final {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.priority .bg .final .cancel {
    width: Fixed 143px;
    height: Hug 48px;
    top: 532px;
    left: 32px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    position: absolute;
}

.bg .final .cancel p {
    width: 48px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #8687E7;
}

.bg .final .save {
    width: Fixed 153px;
    height: Hug 48px;
    top: 532px;
    left: 190px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: #8687E7;
    border: none;
    position: absolute;
}

.bg .final .save p {
    width: 33px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #FFFFFF;
}

.homeScreen {
    width: 375px;
    height: 812px;
    top: -3118px;
    left: -4070px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    font-family: lato;
    background-color: #121212;
}

.unfinTask {
    margin-top: 60px;
    margin-left: 20px;
}

.unfinTask .task {
    width: 327px;
    height: 72px;
    top: 229px;
    left: 24px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background: #363636;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.finished {
    margin-left: 20px;
    margin-top: 30px;
    left: 20px;
}

.finiTask .task {
    width: 327px;
    height: 72px;
    top: -220px;
    left: -30px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background: #363636;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.tasks .unfinished {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    width: 327px;
    height: 72px;
    top: 229px;
    left: 24px;
}

.finished {
    margin-top: 20px;
    width: 327px;
    height: 72px;
    top: 544px;
    left: 24px;
    position: relative;
    width: Hug (102px)px;
    height: Hug (31px)px;
    top: 497px;
    left: 24px;
    padding: 5px 10px 5px 10px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;
}

.unfinTask, .finiTask {
    padding-top: 10px;
}

.task .checkBox {
    width: 16px;
    height: 16px;
    top: 257px;
    left: 34px;
}

.task .name {
    width: 139px;
    height: 48px;
    top: 241px;
    left: 62px;
    gap: 0px;
    opacity: 0px;
}

.task .name p {
    width: 139px;
    height: 21px;
    top: 241px;
    left: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
    color: #FFFFFFDE;
}

.task .name .date {
    width: 89px;
    height: 21px;
    top: 268px;
    left: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
    color: #AFAFAF;
}

.category .selectCategory {
    width: 327px;
    height: 556px;
    top: 128px;
    left: 24px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #363636;
    position: absolute;
}

.selectCategory .allCategory {
    display: flex;
    margin: 5px;
}

.selectCategory .allCategory .categoryBtn {
    width: 74px;
    height: 90px;
    top: 505px;
    left: 151px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    align-items: center;
    justify-content: center;
}

.category .selectCategory .allCategory button {
    width: 64px;
    height: 64px;
    top: 505px;
    left: 156px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    border: 0;
}

.task .taskCategory {
    width: Hug (87px)px;
    height: Hug (29px)px;
    top: 268px;
    left: 200px;
    padding: 4px 8px 4px 8px;
    gap: 5px;
    border-radius: 4px;
    opacity: 0px;
    display: flex;
    align-content: flex-end;
    align-items: baseline;
}

.task .taskCategory img {
    width: 12.25px;
    height: 9.29px;
    top: 2.67px;
    left: 0.59px;
    gap: 0px;
    opacity: 0px;
}

.task .taskPriority {
    width: Hug (42px)px;
    height: Hug (29px)px;
    top: 268px;
    left: 299px;
    padding: 4px 8px 4px 8px;
    gap: 5px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.searchBar {
    width: Fixed (327px)px;
    height: Hug (48px)px;
    top: 114px;
    left: 24px;
    padding: 12px 0px 0px 0px;
    gap: 12px;
    border-radius: 4px;
    border: 0.8px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unfinished .filter {
    width: Hug (76px)px;
    height: Hug (31px)px;
    top: 182px;
    left: 24px;
    padding: 5px 10px 5px 10px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;
    position: absolute;
}

.finished .filter {
    top: -250px;
    left: -5px;
    padding: 5px 10px 5px 10px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;
    position: absolute;
}

.category .title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.category .title h2 {
    width: 123px;
    height: 24px;
    top: 138px;
    left: 127px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 24.08px;
    text-align: left;
    color: #FFFFFFDE;
}

.category .newCategory {
    background: #80FFD1;
}

.category .allCategory p {
    width: 74px;
    height: 21px;
    top: 574px;
    left: 151px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 21.07px;
    text-align: center;
    color: #FFFFFFDE;
}

.category .AddCategoryBtn {
    width: 300px;
    height: 48px;
    top: 379px;
    left: 13px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: #8687E7;
    border: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.category .AddCategoryBtn p {
    width: 97px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #FFFFFF;
    position: relative;
}

.category .addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.addCategory {
    text-align: left;
}

.addCategory .titleCtg {
    height: 20px;
    top: 70px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    margin-top: 30px;
    margin-left: 15px;
}

.addCategory h2 {
    height: 20px;
    top: 70px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #FFFFFFDE;
}

.addCategory .nameCtg {
    margin-top: 30px;
    margin-left: 15px;
}

.addCategory .nameCtg p {
    width: 107px;
    height: 20px;
    top: 110px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #FFFFFFDE;

}

.addCategory .nameCtg input {
    width: Fixed (327px)px;
    height: Hug (48px)px;
    top: 146px;
    left: 24px;
    padding: 12px 0px 0px 0px;
    gap: 12px;
    border-radius: 4px;
    border: 0.8px 0px 0px 0px;
    opacity: 0px;
    background: #1D1D1D;
    border: 0;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
}

.addCategory .iconCtg {
    margin-top: 30px;
    margin-left: 15px;
}

.addCategory .iconCtg p {
    width: 98px;
    height: 20px;
    top: 214px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #FFFFFFDE;
    margin-top: 5px;
}

.addCategory .iconCtg button {
    width: Hug (154px)px;
    height: Hug (37px)px;
    top: 250px;
    left: 24px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;
    background: #FFFFFF36;
    border: 0;

}

.addCategory .color {
    margin-top: 30px;
    margin-left: 15px;
}

.addCategory .color p {
    width: 104px;
    height: 20px;
    top: 307px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #FFFFFFDE;
    margin-top: 5px;
}

.addCategory .color button {
    width: 36px;
    height: 36px;
    top: 343px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
}

.addCategory .cancelCtg {
    width: 154px;
    height: 48px;
    top: 704px;
    left: 24px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: transparent;
    border: 0;
    text-align: center;
    margin-top: 5px;
}

.addCategory .cancelCtg p {
    width: 48px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #8687E7;
    text-align: center;
    margin-top: 5px;
}

.addCategory .saveCtg {
    width: 153px;
    height: 48px;
    top: 704px;
    left: 198px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: #8687E7;
    border: 0;
}

.addCategory .saveCtg p {
    width: 117px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #FFFFFF;
}