body {
    width: 375px;
    height: 812px;
    top: -3118px;
    left: -4070px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    font-family: lato;
    align-items: center;
    justify-content: center;
}

.bgBody {
    width: 375px;
    height: 812px;
    top: -3118px;
    left: -4070px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    background: #121212;
    flex-direction: column;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.statusBar {
    width: 375px;
    height: 44px;
    top: 12px;
    left: 21px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusBar .leftSide {
    width: 54px;
    height: 21px;
    top: 12px;
    left: 21px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
}

.statusBar .clock {
    width: 54px;
    height: 21px;
    top: 12px;
    left: 21px;
    padding: 1px 0px 0px 0px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
    font-family: lato;
}

.statusBar .clock p {
    width: 54px;
    height: 20px;
    top: 1px;
    gap: 0px;
    opacity: 0px;
    font-family: SF Pro Display;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.statusBar .rigthSide {
    width: 66.66px;
    height: 11.34px;
    top: 17.33px;
    left: 293.67px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: center;

}

.statusBar .rigthSide .signal {
    background-image: url("../Components/Mobile\ Signal.png");
    width: 17px;
    height: 10.67px;
    top: 17.67px;
    left: 293.67px;
    gap: 0px;
    opacity: 0px;
    margin-right: 4px;
}

.statusBar .rigthSide .wifi {
    background-image: url("../Components/Wifi.png");
    width: 15.27px;
    height: 10.97px;
    top: 17.33px;
    left: 315.69px;
    gap: 0px;
    opacity: 0px;
    margin-right: 4px;
}

.statusBar .rigthSide .battery {
    background-image: url("../Components/Battery.png");
    width: 24.33px;
    height: 11.33px;
    top: 17.33px;
    left: 336px;
    gap: 0px;
    opacity: 0px;
}

.statusBar .notch {
    width: 219px;
    height: 30px;
    top: -2px;
    left: 78px;
    gap: 0px;
    opacity: 0px;
}

.statusBar .notch .iphoneX {
    background-image: url("../Components/Notch.png");
    width: 219px;
    height: 28px;
    top: -2px;
    left: 78px;
    gap: 0px;
    opacity: 0px;
}

.indexWrapper {
    display: flex;
    justify-content: center;
}

.index {
    width: 327px;
    height: 42px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index .sort {
    width: 42px;
    height: 42px;
    top: 57px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index .sortIcon {
    width: 24px;
    height: 24px;
    top: 66px;
    left: 33px;
    gap: 0px;
    opacity: 0px;
    background-image: url("../Components/sort.png");
}

.index .indexT {
    width: 47px;
    height: 20px;
    top: 68px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFFDE;
}

.index .profile {
    background-image: url("../Components/Group\ 159.png");
    width: 42px;
    height: 42px;
    top: 57px;
    left: 309px;
    gap: 0px;
    opacity: 0px;
}

.emptyImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-right: 35px;
}

.emptyImg .img {
    background-image: url("../Components/Checklist-rafiki\ 1.png");
    width: 227px;
    height: 227px;
    top: 174px;
    left: 74px;
}

.texts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texts h2 {
    width: 270px;
    height: 30px;
    top: 411px;
    left: 53px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: left;
    color: #FFFFFFDE;
    margin: 0;
}

.texts p {
    width: 159px;
    height: 24px;
    top: 451px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #FFFFFFDE;
    margin: 0;
}

.menuNav {
    width: 375px;
    height: 124px;
    top: 688px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    bottom: 0;
}

.menuNav .rectangle {
    width: 375px;
    height: 110px;
    top: 24px;
    gap: 0px;
    opacity: 0px;
    background: #363636;
    position: relative;
    bottom: 0;
}

.menuNav .indexWrap {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menuNav .left {
    display: flex;
    justify-content: center;
}

.menuNav .indexWrap .indexBtn {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
}

.menuNav .indexBtn img {
    width: 24px;
    height: 24px;
    top: 36px;
    left: 31px;
    gap: 0px;
    opacity: 0px;
}

.menuNav .indexBtn p {
    width: 30px;
    height: 18px;
    top: 68px;
    left: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFDE;
}

.menuNav .calendarBtn img{
    width: 24px;
    height: 24px;
    top: 36px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
}

.calendarBtn p {
    width: 48px;
    height: 18px;
    top: 68px;
    left: 88px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFFA;
}

.menuNav .center {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -8px;
    left: 156px;
}


.center .newTask {
    box-shadow: none;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    
    gap: 0px;
    opacity: 0px;
}

.menuNav .rigth {
    display: flex;
    justify-content: end;
}

.rigth .focuseBtn {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 240px;
    gap: 0px;
    opacity: 0px;
}

.focuseBtn img {
    width: 24px;
    height: 24px;
    top: 36px;
    left: 253px;
    gap: 0px;
    opacity: 0px;
}

.focuseBtn p {
    width: 37px;
    height: 18px;
    top: 68px;
    left: 246px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFFA;
}

.rigth .profileBtn {
    width: 48px;
    height: 50px;
    top: 36px;
    left: 308px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    align-items: center;
}

.profileBtn img {
    width: 24px;
    height: 24px;
    top: 36px;
    left: 320px;
    gap: 0px;
    opacity: 0px;
}

.profileBtn p {
    width: 36px;
    height: 18px;
    top: 68px;
    left: 314px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
    color: #FFFFFFFA;
}